* {
  margin: 0; padding: 0; box-sizing: border-box;
}

/*--- MOBILE FIRST 375px ---*/
body {
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}

.content {
  background-color: hsl(244, 38%, 16%);
  width: 90vw;
  height: auto;
  margin: 15% auto;
  border-radius: 5px;
}

.text mark {
  background-color: inherit;
  color: hsl(277, 64%, 61%);
}

.image {
  border-radius: 5px 5px 0 0;
  width: 90vw;
  grid-area: colimg;
}

.image img {
  border-radius: 5px 5px 0 0;
  filter: brightness(0.5) contrast(1) sepia(5) hue-rotate(-125deg) saturate(3);
  width: 90vw;
}

.text {
  padding: 8%;
  font-family: 'Inter', sans-serif;
  grid-area: coltext;
}

.text h1 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 700;
  color: hsla(0, 0%, 100%);
  margin-bottom: 8%;
}

.text p {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 6%;
  line-height: 150%;
}

.status {
  padding: 0 8%;
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding-bottom: 8%;
  grid-area: colstats;
}

.status h1 {
  font-size: 1.7em;
  font-weight: 700;
  color: hsla(0, 0%, 100%);
  margin-bottom: 2%;
}

.status p {
  font-size: 0.9em;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
  margin-bottom: 10%;
}

.attribution {
  position: relative;
  bottom: 10px;
  padding: 0 5%;
  text-align: center;
}
.attribution a:link, a:visited {
  text-decoration: none;
  color: hsl(277, 64%, 61%);
}

/*--- RESIZE 600px ---*/
@media (min-width:600px) {

  .text h1 {
    font-size: 2em;
  }

  .text p {
    font-size: 1.2em;
    padding: 0 10%;
  }

  .status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:  "t1 t2 t3";
  }
  .status p, .status h1 {
    margin: 0;
  }
  .status#t1 {
    grid-area: t1;
  }
  .status#t2 {
    grid-area: t2;
  }
  .status#t3 {
    grid-area: t3;
  }
}

/*--- RESIZE 900px ---*/
@media (min-width:900px) {
  .content  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.1fr;
    grid-template-areas:  "coltext colimg" "coltext colimg" "colstats colimg";
    width: 90vw;
    height: 33vw;
   }
  .image {
    width: 45vw;
  }
  .image img {
    border-radius: 0 10px 10px 0;
    width: 45vw;
  }
  .text {
    padding: 3% 8% 0;
    margin: auto;
  }
  .text h1 {
    font-size: 1.5em;
    padding: 0 8% 0;
    text-align: left;
    margin-bottom: 5%;
  }

  .text p {
    font-size: 0.7em;
    text-align: left;
    padding: 0 8%;
  }
  .status {
    font-family: 'Inter', sans-serif;
    text-align: LEFT; 
    margin-left: 8%;

  }
  .status h1 {
    font-size: 1.2em;
    padding-bottom: 5px;
    margin-right: 20%;
  }
    .status p {
    font-size: 0.7em;
    padding-bottom: 5px;
    margin-right: 20%;
  }
}

  /*--- RESIZE 1200px ---*/
@media (min-width:1200px) {
  .text h1 {
    font-size: 2em;
  }
  .text p {
   font-size: 1em;
  }
  .status h1 {
    font-size: 1.5em;
  }
  .status p {
    font-size: 0.9em;
  }
}